.searchInput {
    .ant-input {
        height: 32px;
        border-radius: 6px;
    }
}

.searchWrapper {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100%;
}

.searchInput {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sectionWrapper p {
    font-family: var(--secondary-font);
	font-size: 16px;
    color: #005BBB;
}

.sectionWrapper {
    width: 100%;
    margin-top: 40px;
}

.sectionHead {
    color: var(--secondary-color);
	font-family: var(--secondary-font);
	font-size: 20px;
	font-weight: 700;
}

.sectionContent {
    width: 80%;
    font-size: 16px;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.publications-article {
	padding-top: 0px;
	padding-left: 35px;
	padding-bottom: 20px;
	border-left: 2px solid #f4f4f5;
	width: 100%;
}