.cell-container {
    width: 100%;
    box-shadow: 5px 8px 24px 5px rgba(208, 216, 243, 0.6);
}
.cell-container h4 {
    text-transform: capitalize;
	font-size: 28px;
    font-weight: 600;
}

.separate {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

.separate hr {
    width: 40%;
    border-style: solid;
 }
