@import "../../../data/styles.css";

.footer {
	display: flex;
	padding-top: 20px;
	padding-bottom: 30px;
	align-items: center;
	flex-direction: column;
}
.footer p {
	display: block;
	margin: 0;
	font-family: 'Georgia', serif;
	font-size: 14px;
	font-weight: 0;
}



@media (max-width: 600px) {
	.footer {
		flex-direction: column;
		height: 85px;
	}
}
