@import "../../data/styles.css";

.homepage-logo-container {
	display: flex;
	justify-content: left;
	padding-top: 20px;
	z-index: 999;
}

.homepage-logo {
    width: 80px;
	display: flex;
	position: fixed;
	border: 1px solid white;
	border-radius: 50%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	top: 3vh;
	z-index: 999;
	margin-left: 2%;
}

.homepage-container {
	padding-top: 0px;
}

.homepage-first-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.homepage-first-area-left-side {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.homepage-title {
	width: 85% !important;
}

.homepage-subtitle {
	width: 85% !important;
}

.homepage-first-area-right-side {
	display: flex;
	align-items: center;
}

.homepage-image-container {
	width: 100%;
	height: 100%;
}

.homepage-image-wrapper {
	overflow: hidden;
	border-radius: 15%;
	/* transform: rotate(3deg); */
}

.homepage-image-wrapper img {
	width: 100%;
}

.homepage-socials {
	display: flex;
	justify-content: left;
	align-items: center;
	padding-top: 30px;
}

.homepage-social-icon {
	padding-right: 20px;
	font-size: 25px;
	transition: color 0.2s ease-in-out;
	color: var(--secondary-color);
}

.homepage-social-icon:hover {
	color: var(--primary-color);
}

.homepage-news {
	display: flex;
	padding-bottom: 30px;
}

.homepage-recruit {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-top: 30px;
	padding-left: 80px;
	padding-bottom: 30px;
	text-align: justify;
}

.homepage-projects {
	flex-basis: 300px;
	padding-top: 60px;
}

.sponsor-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.sponsor-wrapper {
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 1024px) {
	.homepage-first-area {
		flex-direction: column;
		margin-bottom: 50px;
	}

	.homepage-first-area-left-side {
		display: flex;
		flex-direction: column; /* Changed: set direction to column */
		align-items: flex-start;
		width: 100%;
		order: 2;
	}

	.homepage-title {
		width: 100% !important;
		margin-top: 20px;
		order: 2;
	}

	.homepage-subtitle {
		width: 100% !important;
		margin-top: 10px;
		order: 3;
	}
	.section-title {
		font-family: var(--secondary-font);
		color: var(--primary-color);
		font-size: 32px;
		padding-top: 15px;
		margin-bottom: 1em;
		font-weight: 700;
	}

	.homepage-first-area-right-side {
		width: 100%;
		order: 1;
	}

	.homepage-image-container {
		padding-top: 50px;
		padding-bottom: 50px;
		margin-left: 10px;
		order: 1;
	}

	.homepage-after-title {
		flex-direction: column;
	}

	.homepage-projects {
		flex-basis: auto;
	}

	.more {
		color: #14b8a6;
	}
}
