a {
    text-decoration: none;
}
.research-logo-container {
	display: flex;
	justify-content: left;
	padding-top: 25px;
	z-index: 999;
}

.research-logo {
    width: 80px;
	display: flex;
	position: fixed;
	border: 1px solid white;
	border-radius: 50%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	top: 3vh;
	z-index: 999;
	margin-left: 2%;
}

.research-img {
    width: 100%;
    padding-top: 20px;
	padding-bottom: 40px;
}

.research-img img {
    width: 100%;
}

.research-container {
	display: flex;
	flex-direction: column;
	margin: 0;
    padding-top: 20px;
}

.section-title {
	color: var(--primary-color);
	font-family: var(--secondary-font);
	font-size: 40px;
	font-weight: 700;
	width: 70%;
}

.section-container {
    width: 90%;
}

.subtitle {
    padding-top: 10px;
	color: var(--secondary-color);
	font-size: 16px;
	line-height: 28px;
	width: 70%;
	margin-top: 25px;
}

.area-content {
    width: 100%;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width: 1024px) {
	.research-logo {
		z-index: 100;
	}	
}

@media (max-width: 600px) {
	.research-container {
		padding-top: 60px;
	}
}
