.all-news-container {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: -35px;
	margin-right: -35px
}

.all-news-new {
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	overflow: hidden;
	border-radius: 20px;
	opacity: 0.8;
}

.all-news-new:hover {
	background: #fafafa;
	opacity: 1;
	transition: background-color 0.3s ease-in-out;
}