.profile-container {
    mix-blend-mode: normal;
	border-radius: 20px;
	opacity: 0.8;
	width: 100%;
}

.profile-name {
    padding-top: 10px;
	font-size: 16px;
	color: var(--link-color);
	font-weight: 480;
}

.profile-start {
    padding-top: 5px;
	font-size: 14px;
	color: var(--secondary-color);
	font-weight: 480;
}

.profile-bs {
    padding-top: 5px;
	font-size: 12px;
	color: var(--secondary-color);
	font-weight: 480;
}

.profile-ms {
    padding-top: 5px;
	font-size: 12px;
	color: var(--secondary-color);
	font-weight: 480;
}